*{
margin: 0;
padding:0;
font-family: 'Courier New', Courier, monospace;
}
.body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h1{
    position: absolute;
    top:20%;
}