
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div class="container">
        <h1>
            <strong> Communication Between Two Components </strong>
        </h1>
    </div>
    <table class="table table-bordered table-striped">
        <tr>
            <td>
                <app-search-input></app-search-input>
            </td>
 
        </tr>
        <tr>
            <td>
                <app-userlist></app-userlist>
            </td>
        </tr>
    </table>
</body>
</html>

<router-outlet></router-outlet>