
  <div class="container">
    <div class="row">
      <div class="search">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"  placeholder="Search By Employee Name" >
      </div>
      <table class="table table-striped">
        <thead>
        <!-- <tr>
          <th>Name</th>
          
        </tr> -->
        </thead>
        <tbody>
        <tr *ngFor="let c of cats | filter:searchText"   (click)="getSelectedCategory(c)">
          <td>{{c.UserName}}</td>
          
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  